<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lyzer</title>
</head>
<body>

<h1>Lyzer</h1>

<form method="post">
    <label for="id_file_path">파일 경로</label>
    <input type="text" id="id_file_path" name="file_path" placeholder="로컬 덤프파일 경로 입력"/>
    <br>

    <label for="id_select_profile">프로파일</label>
    <select id="id_select_profile" name="profile">
        <option value="AutoDetect">AutoDetect</option>
    </select>
    <br>

    <label for="id_dump_description">메모리 덤프 설명</label>
    <textarea id="id_dump_description" name="description"></textarea><br>


    <input type="submit" id="id_dump_submit" value="추가">
    <br>

    {% csrf_token %}
</form>

<table id="id_dump_list">
    <tr>
        <td>{{ file_path }}</td>
        <td>{{ profile }}</td>
        <td>{{ description }}</td>
    </tr>
</table>

</body>
</html>