{% extends 'base.html' %}

{% block header_text %}
    Lyzer
{% endblock header_text %}

{% block content %}



    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title">
                메모리 덤프 리스트
                <a href="#id_add_dump_modal" id="id_add_dump_btn" class="pull-right text-success" data-toggle="modal">
                    <span class="glyphicon glyphicon-plus">Add</span>
                </a>
            </h3>
        </div><!-- end div class=panel-heading -->

        <div class="panel-body table-responsive">
            <table id="id_dump_list" class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>파일 이름</th>
                    <th>파일 경로</th>
                    <th>프로파일</th>
                    <th>설명</th>
                </tr>
                </thead>
                {% for info in dump_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href='{% url 'memsis:analysis' info.file_name %}'>{{ info.file_name }}</a></td>
                        <td>{{ info.file_path }}</td>
                        <td>{{ info.profile }}</td>
                        <td>{{ info.description }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div><!-- end div class=panel-body table-responsive -->

    </div><!-- end div class=panel panel-default -->

    {% include 'modal/add_dump_modal.html' %}

{% endblock content %}